body{
    padding: 20px 60px;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
}

/* this si to make sure every element fits in it div container,
but its affecting other divs, so apply it to only Signin form div
*/
*{
    box-sizing: border-box
}

